{% extends "base.html" %}

{% block content %}
<div class="box">
  <article class="media">
    <div class="media-content">
      <div class="content">
        <p>
          <strong>{{ nombre }}</strong> <small>{{ email }}</small>
        </p>
      </div>
      <h2>Listado de nodos registrados</h2>
      <table class="table is-bordered is-striped is-narrow is-hoverable is-narrow">
         <thead>
            <tr>
               <th>Id    </th>
               <th>Nodo    </th>
               <th>Firmware    </th>
               <th>Nombre    </th>
               <th>Descripcion    </th>
            </tr>
         </thead>

         <tbody>
            {% for temp in nodos %}
               <tr>
                  <td>{{ temp.id }}</td>
                  <td>{{ temp.nodo }}</td>
                  <td>{{ temp.firmware}}</td>
                  <td>{{ temp.nombre}}</td>
                  <td>{{ temp.descripcion}}</td>
               </tr>
            {% endfor %}
         </tbody>
      </table>
    </div>
  </article>
</div>
{% endblock %}