{% extends "base.html" %}

{% block head %}
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.css">

<link rel="stylesheet" type="text/css"
   href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.dataTables.min.css">
<script type="text/javascript" charset="utf8"
   src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script>
{% endblock %}

{% block content %}

<body>
   <table class="table is-bordered is-striped is-narrow is-hoverable is-narrow" id=t_datos>
      <thead>
         <tr>
            <th class="has-text-centered">Nodo </th>
            <th class="has-text-centered">Timestamp </th>
            <th class="has-text-centered">Volumen (Lt)</th>
            <th class="has-text-centered">Temperatura (°C)</th>
            <th class="has-text-centered">Latitud </th>
            <th class="has-text-centered">Longitud </th>
            <th class="has-text-centered">Evento </th>
         </tr>
      </thead>

      <tbody id="tabla_datos">
      </tbody>
   </table>
</body>
<script>
   $(document).ready(function () {
      var tabla;
      refreshTable(true);
      setInterval(function () { $('#t_datos').DataTable().ajax.reload(null, false); }, 5000);
      //setInterval(refreshTable, 1000);
   });
   function refreshTable() {
      $('#t_datos').DataTable({
         "ajax": {
            "url": "/mostrar",
            "type": "POST",
            "dataSrc": ""
         },
         "responsive": "true",
         "order": [ 1, 'desc' ],
         "language": {
            "lengthMenu": "Mostrar _MENU_ registros por pagina",
            "search": "Buscar:",
            "paginate": {
               "first": "Primera",
               "last": "Ultima",
               "next": "Proxima",
               "previous": "Anterior"
            },
            "zeroRecords": "Nothing found - sorry",
            "info": "Mostrando pagina _PAGE_ de _PAGES_",
            "infoEmpty": "No records available",
            "infoFiltered": "(filtered from _MAX_ total records)"
         },
         columns: [
            { data: "nombre_nodo" },
            { data: "timestamp" },
            { data: "volumen" },
            { data: "temperatura" },
            { data: "latitud" },
            { data: "longitud" },
            { data: "evento" }
         ]
      });
   }

</script>
{% endblock %}