{% extends "base.html" %}

{% block head %}
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.css">

<link rel="stylesheet" type="text/css"
   href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.dataTables.min.css">
<script type="text/javascript" charset="utf8"
   src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script>
{% endblock %}

{% block content %}

<body>
   <table class="table is-bordered is-striped is-narrow is-hoverable is-narrow" id=t_datos>
      <thead>
         <tr>
            <th class="has-text-centered">Nodo </th>
            <th class="has-text-centered">Timestamp </th>
            <th class="has-text-centered">Volumen </th>
            <th class="has-text-centered">Temperatura </th>
            <th class="has-text-centered">Latitud </th>
            <th class="has-text-centered">Longitud </th>
            <th class="has-text-centered">Evento </th>
         </tr>
      </thead>

      <tbody id="tabla_datos">
      </tbody>
   </table>
</body>
<script>
   $(document).ready(function () {
      var tabla;
      refreshTable(true, tabla);
      setInterval(function () { refreshTable(false, tabla); }, 3000);
      //setInterval(refreshTable, 1000);
   });
   function refreshTable(primeraVez) {
      $.ajax({
         type: "POST",
         url: "/mostrar",
      }).done(function (data) {
         var datosTabla = '';
         $.each(data, function (key, value) {
            datosTabla += '<tr>';
            datosTabla += '<td>' + value.nombre_nodo + '</td>';
            datosTabla += '<td>' + value.timestamp + '</td>';
            datosTabla += '<td>' + value.volumen + '</td>';
            datosTabla += '<td>' + value.temperatura + '</td>';
            datosTabla += '<td>' + value.latitud + '</td>';
            datosTabla += '<td>' + value.longitud + '</td>';
            datosTabla += '<td>' + value.evento + '</td>';
            datosTabla += '</tr>';
         });
         $('#tabla_datos').html(datosTabla);
         if (primeraVez) {
            console.log("primera vez")
            tabla = $('#t_datos').DataTable({
               "responsive": "true",
               "language": {
                  "lengthMenu": "Mostrar _MENU_ registros por pagina",
                  "search": "Buscar:",
                  "paginate": {
                     "first": "Primera",
                     "last": "Ultima",
                     "next": "Proxima",
                     "previous": "Anterior"
                  },
                  "zeroRecords": "Nothing found - sorry",
                  "info": "Mostrando pagina _PAGE_ de _PAGES_",
                  "infoEmpty": "No records available",
                  "infoFiltered": "(filtered from _MAX_ total records)"
               }
            });
         } else {
            console.log("otra")
            //tabla.draw(false)
            tabla.draw();
         }



      }).fail(function (jqXHR) {
         console.log(jqXHR.statusText);
      });
   }
</script>
{% endblock %}