{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.css">

<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.js"></script>

{% endblock %}

{% block content %}

<body>
   <table class="table is-bordered is-striped is-narrow is-hoverable is-narrow" id=t_datos>
      <thead>
         <tr>
            <th class="has-text-centered">Nodo </th>
            <th class="has-text-centered">Timestamp </th>
            <th class="has-text-centered">Volumen </th>
            <th class="has-text-centered">Temperatura </th>
            <th class="has-text-centered">Latitud </th>
            <th class="has-text-centered">Longitud </th>
            <th class="has-text-centered">Evento </th>
         </tr>
      </thead>

      <tbody id="tabla_datos">
      </tbody>
   </table>
   <!-- <table id=t_datos>
         <thead>
            <tr>
               <th>Nodo </th>
               <th>Timestamp </th>
               <th>Volumen </th>
               <th>Temperatura </th>
               <th>Latitud </th>
               <th>Longitud </th>
               <th>Evento </th>
            </tr>
         </thead>
   
         <tbody id="tabla_datos">
         </tbody>
      </table> -->
</body>
<script>
   $(document).ready(function () {
      // Fetch the initial table
      refreshTable();

      // Fetch every 5 seconds
      setInterval(refreshTable, 5000);
   });

   function refreshTable() {
      $.ajax({
         type: "POST",
         url: "/mostrar",
      }).done(function (data) {
         console.log("ajax")
         var datosTabla = '';
         $.each(data, function (key, value) {
            datosTabla += '<tr>';
            datosTabla += '<td>' + value.nombre_nodo + '</td>';
            datosTabla += '<td>' + value.timestamp + '</td>';
            datosTabla += '<td>' + value.volumen + '</td>';
            datosTabla += '<td>' + value.temperatura + '</td>';
            datosTabla += '<td>' + value.latitud + '</td>';
            datosTabla += '<td>' + value.longitud + '</td>';
            datosTabla += '<td>' + value.evento + '</td>';
            datosTabla += '</tr>';
         });
         $('#tabla_datos').html(datosTabla);
         $('#t_datos').DataTable().destroy();
         $('#t_datos').DataTable({
            "language": {
               "lengthMenu": "Mostrar _MENU_ registros por pagina",
               "search": "Buscar:",
               "paginate": {
                  "first": "Primera",
                  "last": "Ultima",
                  "next": "Proxima",
                  "previous": "Anterior"
               },
               "zeroRecords": "Nothing found - sorry",
               "info": "Mostrando pagina _PAGE_ de _PAGES_",
               "infoEmpty": "No records available",
               "infoFiltered": "(filtered from _MAX_ total records)"
            }
         });
      }).fail(function (jqXHR) {
         console.log(jqXHR.statusText);
      });

   }
</script>
{% endblock %}